<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div>
        <label for="userName">UserName</label>
        <input type="text" name="userName" [(ngModel)]="userName" #userNameInput="ngModel" required>
        <div *ngIf="userNameInput.invalid && (userNameInput.touched || !userNameInput.value)">
          <p style="color: red;">UserName is required.</p>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel" required>
        <div *ngIf="passwordInput.invalid && (passwordInput.touched || !passwordInput.value)">
          <p style="color: red;">Password is required.</p>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
    <p *ngIf="loginSuccess">Login Success</p>
    <p *ngIf="loginFailed">Login Failed</p>
</div>