@font-face {
    font-family: nb;
    src: url(NB.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(Rejouice-Headline.ttf);
}
h1{
    font-family: rejoy;
}
.fontvariant{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

.fontstyle{
    font-style: italic;
}

.fontweight{
    font-weight: bolder;
    font-family: nb;
}

.lineheight{
    line-height: 30px;
}