@font-face {
    font-family: rejoy;
    src: url("Rejouice-Headline.ttf");
}
@font-face {
    font-family: brush;
    src: url("NB.ttf");
}
::selection{
    background-color: orange;
    color: black;
}
::-webkit-scrollbar{
    display: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: rejoy;
    background-color: rgb(241, 200, 249);
}
p{
    color: rgb(81, 137, 201);
}
h2{
    font-family: brush;
    font-weight: lighter;
    font-size: 47px;
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    text-shadow: 4px 4px 7px rgb(139, 138, 138);
}
.nav {
    border: 1px solid black;
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.main {
    border: 1px solid black;
    border-top: none;
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navImg {
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: center;
    margin: 0 15px;
}
.card {
    position: absolute;
    top: 255px;
    left: 30%;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 100;
    line-height: 10px;
}
.nav-item:hover .card {
    display: block;
}
.cardImg {
    height: 150px;
    width: 350px;
    object-fit: contain;
    object-position: center;
}
.main::before {
    content: "Hover over the items to see details !!!";
}
.nav-item:hover ~ .main {
    opacity: 0; 
}