<div class="customStyle">
  <h1>Welcome</h1>
  <h2>Course name: {{courseName}}</h2>
  
  </div>
  <div class="customStyle1">
    <h4>{{num %2==0 ? 'Even number':'odd number'}}</h4>
  
  </div>
  
  <!-- <img src="{{imageUrl}}"/> -->
  <img [src]="imgUrl" width="200" height="100">
  
  <input [value]="title" style="color:brown">
  
  <button type="button" [disabled]="isUnchanged">disabled</button>
  
  <app-demo></app-demo>
  
  
  <table>
    <thead>
      <tr>
        <th [attr.rowspan]="noOfRows">Name</th>
        <th [attr.colspan]="noOfColoumns">marks</th>
  
      </tr>
      <tr>
        <th>Test</th>
        <th>ReTest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>78</td>
      </tr>
      <tr>
        <td>Siri</td>
        <td>1555</td>
        <td>1555</td>
      </tr>
    </tbody>
  </table>