@font-face {
    font-family: rejoy;
    src: url("NB.ttf");
}
@font-face {
    font-family: brush;
    src: url("Rejouice-Headline.ttf");
}
::-webkit-scrollbar {
    display: none;
}
::selection {
    background-color: rgb(241, 148, 27);;
    color: black;
}
.video {
    margin-top: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, th, td {
    padding: 20px 60px;
    text-align: center;
    background-color:deepskyblue;
    border: 1px solid black; 
    border-collapse: collapse;
}
.tables {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
caption h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: deepskyblue;
    font-size: xx-large;
}
body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    height: 100vh;
    background-image: url("camera.avif");
    background-size: cover;
}
.main {
    height: 100vh;
    width: 100vw;
}
.main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.main h1 {
    text-align: center;
    color: white;
}
.flipHead span {
    color: rgb(8, 136, 248);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid rgb(61, 61, 61);
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    position: relative;
    color: white;
    font-family: rejoy;
    margin: 5px 10px;
    padding: 5px 10px;
}
ul {
    display: flex;
}
nav #brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 800;
    font-size: 25px;
    transform: skewX(-15deg);
    padding: 10px 20px;
}
nav #brand:hover {
    rotate: 360deg;
    scale: 1.8;
    transition: 0.5s all ease-in-out;
    color: rgb(8, 136, 248);
}
.btn, .btn2 {
    background-color: rgb(8, 136, 248);
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
}
.btn2 {
    padding: 10px 10px;
    background-color: rgb(8, 136, 248);
    font-size: 15px;
}
.btn:hover, .btn2:hover{
    background-color: rgb(3, 87, 204);
    cursor: pointer;
}
nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    transition: 0.3s all ease-in-out;
}
nav ul li a.active{
    color: rgb(8, 136, 248);
}
nav ul li a.active::after {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(8, 136, 248);
    transition: 0.3s all ease-in-out;
}
nav ul li a:hover::after {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    transition: 0.3s all ease-in-out;
}
.flipHead {
    margin: 9rem 0;
    font-family: brush;
    line-height: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flipHead h1 {
    margin-top: -150px !important;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: lighter;
    position: relative;
}
.flipHead h1 .word {
    display: inline-block;
    position: absolute;
    opacity: 0;
    animation: flipWords 9s ease-in-out infinite;
}
.flipHead h1 .word:nth-child(1) {
    animation-delay: 0s;
}
.flipHead h1 .word:nth-child(2) {
    animation-delay: 3s;
}
.flipHead h1 .word:nth-child(3) {
    animation-delay: 6s;
}
@keyframes flipWords {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
    }
}